table{
	margin-left: auto;
	margin-right: auto;
	align:center;
	width:100%;
}

.head_titles{
	height:15px;
	text-align: center;
}
.head_table{
	width:80%;
}

.head_props{
	height:15px;
	width:50%;
}

.head_props.right{
	text-align: right;
}

.ques_no{
	font-size: 12pt;
	width:2.5%;
	vertical-align: baseline;
}

.ques_txt{
	font-size: 12pt;
	width: 87.5%;
}

.marks{
	font-size: 10pt;
	width: 10%;
	align:right;
}

.option_tbl{
	width:95%;
}

.option{
	width: 50%;
}