table{
	margin-left: auto;
	margin-right: auto;
	font-size:6px;
	width:100%;
}

.head_titles{
	height:26px;
	text-align: center;
}
.head_table{
	width:80%;
}

.head_props{
	height:26px;
	font-size:8pt;
	width:50%;
}

.head_props.right{
	text-align: right;
}

.ques_no{
	width:2.5%;
	vertical-align: text-top;
}

.ques_txt{
	width: 87.5%;
	vertical-align: text-top;
}

.marks{
	width: 10%;
	text-align:right;
}

.option_tbl{
	width:95%;
}

.option{
	width: 50%;
}

.answer{
	font-size: 10pt;
	vertical-align: text-top;
}

.option-ques-n{
	width:2.5%;
}
.option-ques-val{
	text-align:left;
	width:47.5%;
}